html, body {
    margin: 0;
    height: 100%;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-color: black;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Screen 1 */

.user-input {
  position: absolute;
  top: 10%;
  height: 50vh;
  width: 40vw;
  margin-left: 5vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btn_progress {
  display: flex;
  flex-direction: column;
  align-items: normal;
}

.search-bar {
  width: 100%;
  height: 50px;
  background-color: #444444;
  color: white;
  border-radius: 12px;
  padding: 5px 30px;
}

::placeholder {
  color: white;
}




/* Screen 2 */

.player {
  position: absolute;
  top: 15%;
  height: 75vh;

  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  align-items: center;
}


.stem-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stem {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 15vw;
  align-items: center;
  justify-content: space-between;
}

.stem-slider {
  height:80%;
}

.MuiIconButton-root {
  font-size: 4.5rem!important;
}
