html, body {
    margin: 0;
    height: 100%;
}

.App {
    min-height: 100vh;
    text-align: center;
    background-color: black;
    color: white;
}
 
.wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(12, [col-start] 1fr);
}

.wrapper > * {
    grid-column: col-start / span 12;
}

.user-input {
    display: grid;
    grid-template-rows: repeat(4, minmax(100px, 1fr));
    gap: 20px;
    grid-template-areas:
        "prompt"
        "search-bar"
        "btn-progress"
        "status";
    grid-area: user-input;
}
    .prompt { grid-area: prompt; }

    .status { grid-area: status;}

    .btn-progress {
        display: grid;
        grid-area: btn-progress;
        grid-template-rows: 42px ;
        gap: 20px;
        justify-self: center;
        justify-items: center;
    }

    .search-bar {
        display: grid;
        grid-area: search-bar;
        align-self: center;
        height: 50px; 
        background-color: #444444;
        color: white;
        border-radius: 12px;
        padding: 5px 30px;
    }
  
    ::placeholder {
        color: white;
    }


.player { 
    display: grid;
    grid-area: player; 
    gap: 60px;
    grid-column-gap: 120px;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
        "loading-stem"
        "stemgroup"
        "play-btn";
}
    
    .stem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #original {
        grid-area: loading-stem;
    }
    
    .stem-slider {
        align-self: center;
        width: 20vw;
    }

    .stemgroup {
        display: grid;
        grid-area: stemgroup;
        gap: 40px;
        grid-template-rows: repeat(2,minmax(150px, 1fr));
        grid-template-columns: repeat(2,minmax(100px, 1fr));
        align-content: center;
    }
        
    .play-btn {
        grid-area: play-btn;
    }

    .MuiIconButton-root {
        font-size: 4.5rem!important;
    }

    #stem-label {
        grid-area: stemtitle;
    }


    @media (min-width: 200px) {
        .user-input {
            grid-column: col-start 2 / 12;
            grid-row: 2;
        }
        .player {
            grid-column: col-start 2 / 12;
            grid-row: 3;
            }
        .ad {
            grid-row: 4;
        }
        .footer {
            grid-row: 5;
        } 
    }
    

    @media (min-width: 520px) {
        .user-input {
          grid-column: col-start 4 / span 6;
          grid-row: 2;
        }

        .player {
            grid-column: col-start 3 / 11;
            grid-row: 3;
          }
        .ad {
            grid-row: 4;
        }
        .footer {
            grid-row: 5;
        } 
      }
