html, body {
    margin: 0;
    height: 100%;
}

.App {
    min-height: 100vh;
    text-align: center;
    background-color: black;
    color: white;
}
 
/* mobile layout */
.wrapper {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "user-input"
      "player"
      "sidebar"
      "ad"
      "footer";
}

.user-input {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "prompt prompt ."
        "search-bar . ."
        "btn-progress . .";
    grid-area: user-input;
}
    .prompt { grid-area: prompt; }

    .btn-progress {
        display: grid;
        grid-area: btn-progress;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr ;
        gap: 20px 0px;
        /* width: 25%; */
        /* height:80%; */
        justify-self: center;
        /* align-self: top; */
    }

    .search-bar {
        display: grid;
        grid-area: search-bar;
        align-self: center;
        height: 50px; 
        background-color: #444444;
        color: white;
        border-radius: 12px;
        padding: 5px 30px;
    }
  
    ::placeholder {
        color: white;
    }


.player { 
    display: grid;
    grid-area: player; 
    grid-template-areas:
        "stemgroup"
        "play-btn";
}

    .stemgroup {
        display: grid;
        grid-area: stemgroup;
        gap: 20px;
        grid-template-columns: repeat(5,minmax(50px, 150px));;
    }

        .stem {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        .stem-slider {
            height: 30vh;
        }
        

    .MuiIconButton-root {
    font-size: 4.5rem!important;
    }
    

/* @media (min-width: 1000px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          ". . . ."
          "user-input user-input player player"
          "user-input user-input player player"
          ". . . ."
          ". . . .";
    }
} */



